<header>
    Page header hai ye
</header>

<ul>
    <% if (locals.user){ %>
    <li><%= user.name %></li>
    <li id = 'sign-out-button'>
        <a href="/users/sign-out">Sign Out</a>
    </li>
    <% } else { %> 
        <li id="login-button">
            <a href="/users/sign-in">Login</a>
        </li>
        <li id ="sign-up-button">
            <a href="/users/sign-up">Sign Up</a>
        </li>
    <% } %>
  </ul>
  
<script src="/js/header.js"></script>